* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*img{vertical-align: top;}*/

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*==============================================================*/

._container {
    max-width: 1240px;
    padding: 0 15px;
    overflow: hidden;
    margin: 0 auto;
}


.header {
    background: #424A57;
    padding: 36px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__items {
    color: #E1E1E1;
    font-size: 24px;
    line-height: 44px; /* 183.333% */
}

.header__logo {
}

.header__nav ul {
    display: flex;
    align-items: center;
    gap: 35px;
}

.development {
    padding: 100px 0;
    background-color: #E1E1E1;
}

.development__container {
    display: flex;
    align-items: center;
    gap: 40px;

}

.development__img {
    width: 100%;
}

.development__img img {
    width: 100%;
}

.development__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.development__title {
    color: #424A57;
    font-size: 54px;
    font-weight: 700;
    line-height: 118%;
}

.development__text {
    color: rgba(0, 0, 0, 0.87);
    font-size: 27px;
    line-height: 38px;
}


.development__btn {
}

.development__button {
    border-radius: 50px;
    background: #0096A7;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.06);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 32px;
}

.cards {
    padding-top: 85px;
}

.cards__container {
}

._container {
}

.cards__list {
    display: flex;
    justify-content: space-between;
}

.cards__item {
    display: flex;
    gap: 20px;
}

.item__img {
    max-width: 44px;
}

.item__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}

.item__title {
    color: #424A57;
    font-size: 24px;
    line-height: 44px;
}

.item__text {
    color: rgba(0, 0, 0, 0.87);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

/*==================================================*/


/*.advantages__container {*/
/*    padding-top: 85px;*/
/*    padding-bottom: 85px;*/
/*}*/

/*.advantages__title {*/
/*    color: #424A57;*/
/*    font-size: 48px;*/
/*    line-height: 60px;*/

/*}*/

/*.advantages__list {*/
/*    padding-top: 32px;*/
/*}*/

/*.advantages__list ul {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    gap: 20px;*/
/*}*/

/*.advantages__list li {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/


/*.content__title {*/
/*    padding-top: 32px;*/
/*    color: #424A57;*/
/*    font-size: 24px;*/
/*}*/

/*.content_text {*/
/*    padding-top: 24px;*/
/*    color: rgba(0, 0, 0, 0.87);*/
/*    font-size: 18px;*/
/*    line-height: 28px;*/
/*}*/

.services {
    background-color: white;
    padding: 86px 0 85px 0;
}



.block-title__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: #424A57;
    margin: 0 0 32px 0;
}

.services__body {
    display: flex;
    justify-content: center;
    margin: 0 -20px 0 0;
}

.services__column {
    flex: 0 1 33.333%;
}
.services__column:not(:last-child){
    padding: 0 20px 0 0;
}
.services__item {
    height: 100%;
}

.item-service__title {
    margin: 32px 0 0 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 183%;
    color: #424A57;
}

.item-service__text {
    margin: 24px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 155%;
    color: rgba(0, 0, 0, 0.87);
}
/*@media (max-width: 1275px) {*/
/*    .services__column:not(:last-child){*/
/*        margin: 0 0 50px 0;*/
/*    }*/
/*    .item-service__title{*/
/*        margin: 20px 0 0 0;*/
/*    }*/
/*    .item-service__text{*/
/*        margin: 18px 0 0 0;*/
/*    }*/
/*}*/
/*@media (max-width: 850px){*/
/*    .services__column{*/
/*        padding: 0 20px 0 0;*/
/*    }*/
/*    .item-service__title{*/
/*        margin: 15px 0 0 0;*/
/*    }*/
/*    .item-service__text{*/
/*        margin: 12px 0 0 0;*/
/*    }*/
/*}*/
/*@media (max-width: 430px){*/
/*    .item-service__title{*/
/*        margin: 15px 0 0 0;*/
/*        font-size: 18px;*/
/*    }*/
/*    .item-service__text{*/
/*        margin: 12px 0 0 0;*/
/*        font-size: 12px;*/
/*    }*/
/*    .services__image{*/
/*        width: 290px;*/
/*    }*/
/*    .block-title__title{*/
/*        font-size: 30px;*/
/*    }*/

/*===================================================*/

.contact {
    background: rgba(66, 74, 87, 0.50);
}

.contact__container {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contact__text {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 44px; /* 183.333% */
}

.contact__list ul {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.contact__list {
    display: flex;
    justify-content: center;
    align-items: center;

}

/*@media (max-width: 1300px) {*/
/*    .development__content {*/
/*        gap: 25px;*/
/*    }*/

/*    .development__title {*/
/*        font-size: 40px;*/
/*    }*/

/*    .development__text {*/
/*        font-size: 20px;*/
/*    }*/

/*    .item__img img {*/
/*        width: 30px;*/
/*        padding-top: 7px;*/
/*    }*/

/*    .item__title {*/
/*        font-size: 20px;*/
/*    }*/

/*    .item__text {*/
/*        font-size: 15px;*/
/*    }*/

/*    .advantages__title {*/
/*        font-size: 40px;*/
/*    }*/

/*    .content__image {*/
/*        width: 100%;*/
/*    }*/

/*    .content__image img {*/
/*        width: 100%;*/
/*    }*/

/*    .content__title {*/
/*        font-size: 20px;*/
/*    }*/

/*    .content_text {*/
/*        font-size: 15px;*/
/*    }*/

/*    .services__body {*/
/*        flex-wrap: wrap;*/
/*        gap: 30px;*/
/*    }*/
/*}*/


